.menu-button {
  display: inline-flex;
  margin: 10px 15px;
  padding: 0;
  border: none;
  background-color: $background;
  transition: fill 250ms $animation;
  &:hover,
  &:focus{
     fill: $accent-color;
}
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
  &:hover,
  &:focus{
     fill: $accent-color;
}
}
.menu-container {
  background-color: $background;
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    border-top: 1px solid #ECECEC;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 4;
    &.is-open {
      display: block;
    }    
  }
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
}}
