/* основний текст #757575 */
/* другоряний колір #212121 */
/* білий #FFFFFF */
/* наведення #2196F3 */
/* адреса  rgba(255, 255, 255, 0.6)*/
/* фон  #E5E5E5*/
/* фон 2 #f5f4fa */
/* фон подвал #2f303a */
/* колір svg #afb1b8*/
  $primary-text-color: #757575;
  $title-text-color: #212121;
  $primary-white-color: #ffffff;
  $accent-color: #2196f3;
  $adres-text-color: rgba(255, 255, 255, 0.6);
  $background: #ffffff;
  $second-background: #f5f4fa;
  $footer-background: #2f303a;
  $animation: cubic-bezier(0.4, 0, 0.2, 1);
